*,
*::after,
*::before {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 740px;
    background-image: url(img/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.big-text{
    position: absolute;
    top: 192px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.small-text{
    position: absolute;
    top: 398px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container2{
    height: 1081px;
    display: flex;
    flex-direction: column;
    /* position: relative; */

}

.container2-text{
    margin-top: 250px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
}
.arena-block{
    /* position: absolute; */
    margin-top: 353px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.flex-palochka{
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
}

.big-box{
    display: flex;
    margin-top: 60px;
    gap: 30px;
    justify-content: center;
    
}
.wrapper{
    
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.h2-text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    margin-bottom: 20px;
}

.wrapper-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999; 
}

.img-palochka{
    margin-top: 45px;
    margin-bottom: 15px;
}

.year{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;    
    color: #F7654A;
}

.let{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.rynok{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}